[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
mysqlclient = "*"
pydantic = "*"
pymysql = "*"
cryptography = "*"
python-jose = "*"
passlib = "*"
bcrypt = "==4.0.1"
python-multipart = "*"
asyncmy = "*"
sqlalchemy = "*"
databases = "*"
greenlet = "*"

[dev-packages]

[requires]
python_version = "3.11"
